extends layout 

block content
  header.w3-container.w3-center.w3-deep-purple
    h1
      b Edit Task
  main.w3-center
    div.w3-container.w3-center.w3-deep-purple.w3-border
      h3.w3-margin-top
        b Edit Task
      form.w3-container.w3-center.w3-margin(method="POST")
        input(type='hidden' name='id' value=task.id)
        label
          p.w3-center.w3-round
            div.w3-xxlarge
              i(class="fas fa-edit")
        input.w3-input.w3-border.w3-margin-bottom.w3-center.w3-round(type="text" name="desc" value=task.desc)
        label
          p.w3-round
            div.w3-xxlarge
              i(class="fas fa-user-alt")
        select.w3-select.w3-border.w3-round(name="autor" value=task.autor)
            option.w3-center(value="" disabled selected) Choose person
            each u in users
              option.w3-center #{u.nome}
        label
          div.w3-xxlarge
            i(class="fas fa-calendar-alt")
        input.w3-input.w3-border.w3-round.w3-center(type="date" name="deadline" value=task.deadline)
        button.w3-btn.w3-round.w3-aqua.w3-margin-top(type="submit") Edit Task
    footer.w3-container.w3-deep-purple
      h5.w3-center TPC5 de EW por
        b  Dinis Estrada